*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
.animations{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation:mani 5s infinite;
    position: relative;
}
@keyframes mani{
    
    0%{
        top: 0px;
        left: 0px;
        background-color: red;

    }
    25%{
        top: 0px;
        left: 2200px;
        background-color: blue;

    }
    50%{
        top: 1000 px;
        left: 2200px;
        background-color: aquamarine;

    }
    75%{
        top: 1000px;
        left: 0px;
        background-color: bisque;

    }
    100%{
        top: 0px;
        left: 0px;
        background-color: beige;
    }
}
